<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>test page</title>
        <style type="text/css">
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <body>
    <form action="/add" method="post">
    title <input type="text" name="title"><br />
    content <textarea name="content"></textarea><br />
    author <input type="text" name="author"><br />
    slug<input type='text' name="slug"><br />
    <input type="submit" value="ok" />
    </form>
    </body>
</html>
